section.col-xs-2.no-padding
  app-desktop-bar([adminId]="userId")
section.col-xs-10.no-padding.md-column
  app-back
  section
      .percent([class.hidden]="myBooleanValue")
          .img-circle
            img.user-img.center-block(*ngIf="userdata.length > 0", 
                                      [src]='userAvatar', 
                                      (click)="clickHide()", 
                                      [style.border-color]="fillAttr",
                                      popoverTitle="Progreso por dia.", 
                                      popover="Completar tareas llenara el circulo."
                                      triggers="mouseenter:mouseleave", 
                                      container="body",
                                      placement="bottom")  
            .col-xs-12.flex-center.flex-column.dashboard-xs-section.circle
                round-progress(
                [current]="current",
                [max]="max",
                [background]="'#eaeaea'",
                [radius]="58",
                [stroke]="9",
                [rounded]="true",
                [clockwise]="true",
                [responsive]="false",
                [duration]="800",
                [animation]="'easeInOutQuart'",
                [animationDelay]="0")   
      svg.header(viewBox='0 0 1085 296')
          path(d="M.2.4V242.1S514,358,1085,242.1V0Z", [attr.fill]="fillAttr")
      h4.header-title(*ngIf="userdata.length > 0") {{userName}}
  section.row.week 
      .col-xs-4.flex-center
          button.btn.btn-default.btn-lg.arrow(type='button', aria-label='Left Align', (click)="back()") 
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      .col-xs-4.flex-center
          h3.week-day.text-center(*ngIf="weekData.length > 0")  {{ dayView | date:'EEEE MMMM d'}}
      .col-xs-4.flex-center
          button.btn.btn-default.btn-lg.arrow(type='button', aria-label='Left Align', (click)="next()")
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
  section.row.user-week
      .col-xs-12.col-md-6.flex-center(*ngFor='let todo of todosView; let i = index;')
          a.btn-default.btn-card([routerLink]="['/detailTodo', userId, todo.key, day, daysKeys[i]]", role="button", [ngClass]="{'relevance': todo.value.relevance }")
              img.todoImg([ngClass]="{'completed-img': todo.value.status }", [src]="todo.value.categoryImg", alt='')
              p.todoName([ngClass]="{'completed-txt': todo.value.status }") {{todo.value.description}}
              i.fa.fa-check-circle-o.fa-3x.pull-right.icompleted([ngClass]="{'completed': todo.value.status }")
              i.fa.fa-exclamation-circle.fa-3x.pull-right.icompleted([ngClass]="{'ipriority': todo.value.priority , 'notpriority': todo.value.status}")
              p.todoName.relevance-txt.icompleted([ngClass]="{'relevance-txt': todo.value.relevance  , 'notrelevance': todo.value.priority }") Tarea relevada por: {{todo.value.revelanceBy}}
//- .hidden-sm.hidden-md.hidden-lg
//-   app-mobile-bar
