section.row 
  section.col-xs-12.register-header.flex-center
    h1.register-title Register
    
section.row
  section.col-xs-12.col-sm-12
    form.register-form.flex-center.flex-column([formGroup]="myform")
      fieldset.col-xs-10.flex-center.flex-column.no-padding(formGroupName="name", style="padding: 0;")
        .form-group.col-xs-12.register-form_wrapper.flex-center(
          [ngClass]="{'has-danger': myform.controls.name.invalid && myform.controls.name.dirty, 'has-success': myform.controls.name.valid && myform.controls.name.dirty}"
          )
          input.form-control.register-form_input(
            type="text", 
            name="name", 
            formControlName="firstName",
            placeholder="First Name",
            required
          )
          
        .form-group.col-xs-12.register-form_wrapper.flex-center(
          [ngClass]="{'has-danger': myform.controls.name.invalid && myform.controls.name.dirty, 'has-success': myform.controls.name.valid && myform.controls.name.dirty}"
          )
          input.form-control.register-form_input(
            type="text", 
            name="name", 
            formControlName="lastName",
            placeholder="Family Name",
            required
          )
          
      .form-group.col-xs-10.register-form_wrapper(
        [ngClass]="{'has-danger': myform.controls.email.invalid && myform.controls.email.dirty, 'has-success': myform.controls.email.valid && myform.controls.email.dirty}"
        )
        input.form-control.register-form_input(
          type="text", 
          name="email", 
          formControlName="email",
          placeholder="Email",
          required
        )
      .form-group.col-xs-10.register-form_wrapper(
        [ngClass]="{'has-danger': myform.controls.password.invalid && myform.controls.password.dirty, 'has-success': myform.controls.password.valid && myform.controls.password.dirty}"
        )
        input.form-control.register-form_input(
          type="password", 
          name="password", 
          formControlName="password",
          placeholder="Password",
          required
        )
        .error(*ngIf="myform.controls.password.dirty && !myform.controls.password.valid") Password must be 8 characters long
      .form-group.col-xs-10.register-form_wrapper(
        [ngClass]="{'has-danger': myform.controls.repeatPassword.invalid && myform.controls.repeatPassword.dirty, 'has-success': myform.controls.repeatPassword.valid && myform.controls.repeatPassword.dirty}"
        )
        input.form-control.register-form_input(
          type="password", 
          name="repeatPassword", 
          formControlName="repeatPassword",
          placeholder="Repeat Password",
          required
        )
        .error(*ngIf="error") {{matchError}}    
      .form-group.col-xs-10.flex-center.register-form_wrapper
        button.btn.btn-default.register-form_button((click)="register()", [disabled]="myform.invalid") Register
