section
  section.col-xs-12.col-sm-12.no-padding
    svg.header(viewBox='0 0 1085 296')
        path.path(d="M.2.4V242.1S514,358,1085,242.1V0Z")
    h2.text-center.header-title Nueva Tarea
  section.row
    section.col-xs-12.col-sm-12.todo-container
      section.col-xs-12.col-sm-12.col-md-10.col-md-offset-1
        h4.userName Seleccione un usuario
          section.row.family.col-xs-12.flex-center.col-sm-12
            .col-xs-4.text-center(*ngFor="let user of usersdata")
              a(role="button", (click)="selectUser(user.key)")
                img.users([src]='user.value.avatar')
                p.perUserName {{user.value.name}}
        h5(*ngIf="error") {{errorMsg}}
      section.col-xs-12.col-sm-12.col-md-10.col-md-offset-1
        h4.categories Seleccione la tarea
        section.col-xs-12.flex-center
          div
            .col-xs-4.col-sm-2.col-md-1
              button.category-btn((click)='acomodar.show()')
                img.img-category(src='../../../assets/i-29.png')
                h5 Acomodar
            .col-xs-4.col-sm-2.col-md-1
              button.category-btn((click)='limpiar.show()')
                img.img-category(src='../../../assets/i-30.png')
                h5 Limpiar
            .col-xs-4.col-sm-2.col-md-1
              button.category-btn((click)='cocinar.show()')
                img.img-category(src='../../../assets/i-31.png')
                h5 Cocinar
            .col-xs-4.col-sm-2.col-md-1
              button.category-btn((click)='mascotas.show()')
                img.img-category(src='../../../assets/i-27.png')
                h5 Mascotas
            .col-xs-4.col-sm-2.col-md-1
              button.category-btn((click)='personal.show()')
                img.img-category(src='../../../assets/i-28.png')
                h5 Personal

.modal.fade(bsModal="", #acomodar="bs-modal" tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title.pull-left Acomodar
        button.close.pull-right(type='button', aria-label='close', (click)='acomodar.hide()')
          span(aria-hidden='true') 
      .modal-body(*ngFor='let category of todos')
        div(*ngIf='category.category == "Acomodar"')
          label.radioName-xs-3(for='category') {{category.description}}
          input.radioInput(type='radio', name='catDescription', [(ngModel)]='value', [value]='category.description')
      .form-group.flex-center.acomodarBtn
        .btn-add
          .eff-4
          button((click)='addTodo(value)') Agregar
        //-button#btnAddTodo.btn.btn-default.acomodarButton((click)='addTodo(value)') Agregar
      
.modal.fade(bsModal="", #limpiar="bs-modal" tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title.pull-left Limpiar
        button.close.pull-right(type='button', aria-label='close', (click)='limpiar.hide()')
          span(aria-hidden='true') 
      .modal-body(*ngFor='let category of todos')
        div.limpiarTodos(*ngIf='category.category == "Limpiar"')
          label.radioName-xs-3(for='category') {{category.description}}
          input.radioInput(type='radio', name='catDescription', [(ngModel)]='value', [value]='category.description')
      .form-group.flex-center.limpiarBtn
        .btn-add
          .eff-4
          button((click)='addTodo(value)') Agregar
      //-  button#btnAddTodo.btn.btn-default.limpiarButton((click)='addTodo(value)') Agregar

.modal.fade(bsModal="", #cocinar="bs-modal" tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content.modal-content2
      .modal-header
        h4.modal-title.pull-left Cocinar
        button.close.pull-right(type='button', aria-label='close', (click)='cocinar.hide()')
          span(aria-hidden='true') 
      .modal-body(*ngFor='let category of todos')
        div.cocinarTodos(*ngIf='category.category == "Cocinar"')
          label.radioName-xs-3(for='category') {{category.description}}
          input.radioInput(type='radio', name='catDescription', [(ngModel)]='value', [value]='category.description')
      .form-group.flex-center.cocinarBtn
        .btn-add
          .eff-4
          button((click)='addTodo(value)') Agregar
        //-button#btnAddTodo.btn.btn-default.cocinarButton((click)='addTodo(value)') Agregar
      
.modal.fade(bsModal="", #mascotas="bs-modal" tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content.modal-content3
      .modal-header
        h4.modal-title.pull-left Mascotas
        button.close.pull-right(type='button', aria-label='close', (click)='mascotas.hide()')
          span(aria-hidden='true') 
      .modal-body(*ngFor='let category of todos')
        div.mascotasTodos(*ngIf='category.category == "Mascotas"')
          label.radioName-xs-3(for='category') {{category.description}}
          input.radioInput(type='radio', name='catDescription', [(ngModel)]='value', [value]='category.description')
      .form-group.flex-center.mascotasBtn
        .btn-add
          .eff-4
          button((click)='addTodo(value)') Agregar
        //-button#btnAddTodo.btn.btn-default.mascotasButton((click)='addTodo(value)') Agregar

.modal.fade(bsModal="", #personal="bs-modal" tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title.pull-left Personal
        button.close.pull-right(type='button', aria-label='close', (click)='personal.hide()')
          span(aria-hidden='true') 
      .modal-body(*ngFor='let category of todos')
        div.personalTodos(*ngIf='category.category == "Personal"')
          label.radioName-xs-3(for='category') {{category.description}}
          input.radioInput(type='radio', name='catDescription',  [value]='category.description')
      .form-group.flex-center.personalBtn
        .btn-add
          .eff-4
          button((click)='addTodo(value)') Agregar
        //-button#btnAddTodo.btn.btn-default.personalButton((click)='addTodo(value)') Agregar
