section.row.full-height.hidden-xs.login-background.flex-center
  section.col-xs-12
    section.container.flex-center.flex-column
      .col-xs-9.flex-center.flex-column.login-whitesquare
        .col-xs-4.flex-center
          img.img-responsive(src="assets/homeAid-logo.png")
          
        section.row.login-button-rows
          section.col-xs-6.flex-center
            button.login-login-btn((click)="smModal.show()") Login
          section.col-xs-6.flex-center
            button.login-login-btn 
              a.login-register-md(href="register") Register
        section.row.login-button-rows
          section.col-xs-6
            button.login-social.login-google((click)="googleSignUp()")
              span.login-social_icon.login-google_icon
              span.login-social_text Sign up With Google
            
          section.col-xs-6
            button.login-social.login-facebook((click)="facebookSignUp()") 
              span.login-social_icon.login-facebook_icon
              span.login-social_text Sign up With Facebook
              
section.row.flex-center.flex-column.full-height.hidden-sm
  section.col-xs-12.flex-center.flex-column
    .col-xs-9.flex-center
      img.img-responsive(src="assets/homeAid-logo.png")
      
  section.col-xs-12.flex-center
    button.login-login-btn((click)="smModal.show()") Login 
    
  section.col-xs-12.flex-center.flex-column    
    button.login-social.login-google((click)="googleSignUp()")
      span.login-social_icon.login-google_icon
      span.login-social_text Sign up With Google
      
  section.col-xs-12.flex-center.flex-column
    button.login-social.login-facebook((click)="facebookSignUp()") 
      span.login-social_icon.login-facebook_icon
      span.login-social_text Sign up With Facebook
        
  
  section.col-xs-12.flex-center.flex-column
    a.login-register([routerLink]="['/register']") Register
    
.modal.fade(bsModal="", #smModal="bs-modal", tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h4.modal-title.pull-left Login
        button.close.pull-right(type="button", aria-label="close", (click)="smModal.hide()")
          span(aria-hidden="true") &times;
      .modal-body
        form([formGroup]="loginForm")
          .form.group(
            [ngClass]="{'has-danger': loginForm.controls.email.invalid && loginForm.controls.email.dirty, 'has-success': loginForm.controls.email.valid && loginForm.controls.email.dirty}"
            )
            input.form-control.register-form_input(
              type="text", 
              name="email", 
              formControlName="email",
              placeholder="Correo electrónico",
              required
            )
          .form-group
            input.form-control.register-form_input(
              type="password", 
              name="password", 
              formControlName="password",
              placeholder="Contraseña",
              required
            )
            .error(*ngIf="loginForm.controls.password.dirty && !loginForm.controls.password.valid") La contraseña tiene que tener 8 digitos como minimo.
            .error(*ngIf="error.length > 0") {{error}}
          .form-group
            .btn-add
              .eff-4
              button((click)="login()", [disabled]="loginForm.invalid") Entrar 
            //-.btn-main
              .eff-4
                button.btn-login((click)="login()", [disabled]="loginForm.invalid") Login
            //-button.btn.btn-success((click)="login()", [disabled]="loginForm.invalid") Login
      
