section
    svg.header(width='100vw' viewBox='0 0 1085 296')
      path.path(d="M.2.4V242.1S514,358,1085,242.1V0Z")
    h1.header-title  Nuevo usuario

section.row
  section.col-xs-12.col-sm-12.container
    h4
      section.col-xs-12.flex-center.new-user-subcontainer
        div
          .col-xs-4.col-sm-4
            a(href='')
              img.selected-ux(src='assets/i-22.png')
          .col-xs-4.col-sm-4
            a(href='')
              img.no-selected-ux(src='assets/i-24.png')
          .col-xs-4.col-sm-4
            a(href='')
              img.no-selected-ux(src='assets/i-23.png')
  section.col-xs-12.col-sm-12.container
    form.flex-center.flex-column([formGroup]="userform")
      .col-xs-10.flex-center.flex-column.no-padding
        .form-group
          label(for='name') Nombre
          input.form-control.newuserfield(
            type="text", 
            name='username', 
            formControlName="userName", 
            placeholder='Nombre', 
            required
          )
        .form-group
          label(for='name') Fecha de nacimiento
          input.form-control.newuserfield(
            type="date", 
            name='birthdate', 
            formControlName="birthdate", 
            placeholder='Fecha de nacimiento',
            required 
          )
        .form-group
          .radio.col-xs-6
            label Femenino
              input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
          .radio.col-xs-6
             label Masculino
              input#optionsRadios2(type='radio', name='optionsRadios', value='option2')  
                           
        select.form-control(multiple='')
          option.blue(val='1')
          option.yellow(val='2')
          option.green(val='3')
            
        .form-group.user-form.flex-center
          button.btn.btn-success.user-form-button((click)="createUser()") Create
          
