section.col-xs-2.no-padding
    app-desktop-bar([adminId]="uid")
section.col-xs-10.no-padding.md-column
  app-back
  section
      svg.header(width='100%' viewBox='0 0 1085 296')
        path.path(d="M.2.4V242.1S514,358,1085,252.1V0Z")
      h1.header-title.md-sm-spacer  Nuevo usuario
  section.md-sm-spacer
    section.col-xs-12.col-sm-12.flex-center.md-xs-spacer
      h4.select-title Selecciona un avatar para el nuevo usuario
    section.col-xs-12.col-sm-12.container.md-xs-spacer.avatars
      section.col-xs-12.col-md-6.offset-md-3.flex-center.new-user-subcontainer.no-padding
        .col-xs-4.col-sm-4.flex-center(*ngFor="let avatar of avatars; let i = index;") 
          img.users(
            [src]='avatar.src',
            (click)="selectImage($event.target.src); toggleObject.item = i ",
            [ngClass]="{'selected-user': toggleObject.item == i }")
                  
    section.col-xs-12.col-md-12.container
      form.flex-center.flex-column([formGroup]="userform")
        .col-xs-10.flex-center.flex-column.no-padding
          .form-group.col-xs-12.col-md-6.offset-md-3.md-xs-spacer
            h4.md-label(for='name') Nombre
            input.form-control.newuserfield(
              type="text", 
              name='username', 
              formControlName="userName", 
              placeholder='Nombre', 
              required
            )
          .form-group.col-xs-12.col-md-6.offset-md-3.md-xs-spacer
            h4.md-label(for='name') Fecha de nacimiento
            input.form-control.newuserfield(
              type="date", 
              name='birthdate', 
              formControlName="birthdate", 
              placeholder='Fecha de nacimiento',
              required 
            )

          .form-group.col-xs-12.col-md-6.offset-md-3.row.md-sm-spacer
            h4.md-label(for='color') Selecciona los colores del tema del usuario
            .row
               .col-xs-12.options.no-padding((click)="selectColor('#5aabc5')", [ngClass]="{'selected-color': theme }")
                 span.option.blue
                 span.option.green
               .col-xs-12.options.no-padding((click)="selectColor('#ff2461')", [ngClass]="{'selected-color': !theme }")
                 span.option.pink
                 span.option.orange
              
          .form-group.user-form
            .btn-add
              .eff-4
              button((click)="createUser()") Crear  
            //-button.btn.user-form-button((click)="createUser()") Crear 
